.card{
    margin: 10px;
    padding: 7px;
    width: 20rem;
}

.qty {
    background:lightgreen;
    border-radius: 10px 10px 10px 10px;
    box-shadow:  3px 4px 9px 2px #6c757d;
}
.pic{
    width: 30%;
}